@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/* GENERAL */


a {
  color:black;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid rgb(73, 68, 68);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


.App {
    /* gradient? */
  font-family: 'Raleway', sans-serif;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.register-card{
  border-radius:15px;
  width: auto;
  height: 70%;
  margin:auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}

.plane{
  background: url(https://i.giphy.com/media/IdmhVqdlIvpj3EalKg/giphy.webp); 
  /* background-position: left-top; */
  background-repeat: no-repeat;
  padding:20px;
  background-attachment: fixed;
  width:auto;
  height:auto;
  
}

.register{
  color: black;
  min-height: 2rem;
  margin-bottom: 1rem;
}



.city-name {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
}

.button {
  /* gradient? */
  color: black;
  background-color: #37debc;
  
}
.btn{
  border-color: rgb(104, 104, 104);
  --bs-btn-font-weight: 600;
  --bs-btn-color: black;
  --bs-btn-bg: #37debc;
  --bs-btn-border-color: #37debc;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #45ffda;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #2ea88f;
  --bs-btn-active-border-color: black;
};
.btn:focus{
    outline: none;
    box-shadow:none;
};


.card-city {
  background-color: #79C858;
}

.tags {
  color: #EAE7E8;
}

.tags:active {
  color: #F0C55D;
}

.upvote {
  color: #EAE7E8;
}

.upvote:active {
  color: #A8E575;
}

.downvote {
  color: #EAE7E8;
}

.downvote:active {
  color: #EEA891;
}

/* NAVBAR */
.navbar {
  background-color: #37debc;
  /* padding: 1rem; */
  font-size: medium;
}
.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.logo{
  float:left;
}

.logoname{
  font-size: xx-large;
  float:left;
}
/* OVERVIEW */
.overview-card{
  border-radius:15px;
  width: auto;
  height: 70%;  
  margin-top: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}
.overview-img{

}





/* CREATE */

.crbutton {
  width:8rem;
  border-radius: 20px;
};

/* DETAIL */
.murmur-text {
  min-height: 10rem;
  border: 1px solid #333;
  background-color: beige;
}

.vote-button {
  color: gray;
  font-size: 2rem;
  padding-right: .1em;
}
.upvote-button {
  color: green;
}
.downvote-button {
  color: red;
}
.detail-tag {
  background-color: #37debc;
  margin: .2rem;
  margin-top: .5rem;
  text-align: center;
  border-radius: 2rem;
  font-weight: 700;  
  padding: 0;
}
.detail-tag-text {
  margin: 0;

  color: black;
}


/* Landingpage */

.carousel-card{
background-color: rgba(255, 255, 255, 0.678);
}

