/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");

.App {
  /* gradient? */
  font-family: "Raleway", sans-serif;
  color: #333;
}

a {
  color: black;
}

input[type="file"] {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

.transparent-bg {
  border-radius: 15px;
  width: auto;
  max-width: 45rem;
  height: auto;
  margin:auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}


/* Wird diese Klasse überhaupt benutzt??? */
.register {
  color: black;
  min-height: 2rem;
  margin-bottom: 1rem;
}

.card {
  min-width: 45rem;
}

.cursive-font {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
}

.greeting-font {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 2.75rem;
  text-align: center;
  margin: 2rem;
}

.button {
  /* gradient? */
  color: black;
  background-color: #37debc;
}

.tag-button {
  min-width: 9rem !important;
}

.btn {
  border-color: rgb(104, 104, 104);
  --bs-btn-font-weight: 600;
  --bs-btn-color: black;
  --bs-btn-bg: #7addc9;
  --bs-btn-border-color: #7addc9;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #7addc9;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #2ea88f;
  --bs-btn-active-border-color: black;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.card-city {
  background-color: #79c858;
}

.tags {
  color: #eae7e8;
}

.tags:active {
  color: #f0c55d;
}

/* NAVBAR */

.navbar {
  background-color: #7addc9;
  /* padding: 1rem; */
  font-size: medium;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.logo {
  float: left;
}

.logoname {
  font-size: xx-large;
  float: left;
}

/* OVERVIEW */
card-img-top {
  object-fit: cover;
}
@media (min-width: 576px) {
    .overview-image {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
}
@media (max-width: 575.98px) {
  .overview-image {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
  .card {
    min-width: 22rem;
  }

}
@media (min-width: 820px) {
  .card {
    min-width: 45rem;
  }
}

/* CREATE */

.crbutton {
  width: 8rem;
  border-radius: 20px;
}

/* DETAIL */



.murmur-text {
  min-height: 10rem;
  border: 1px solid #333;
  background-color: beige;
}

.vote-button {
  color: gray;
  font-size: 2rem;
  padding-right: 0.1em;
}
.upvote-button {
  color: white;
}
.downvote-button {
  color: white;
}

.upvote {
  color: #eae7e8;
}

.upvote:active {
  color: #a8e575;
}

.downvote {
  color: #eae7e8;
}

.downvote:active {
  color: #eea891;
}

.detail-tag {
  color: white;
  background-color: #2ea88f;
  border-color: black;
  margin: 0.2rem;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 2rem;
  font-weight: 700;
  padding: 0;
}
.detail-tag-text {
  margin: 0;
  color: white;
}

/* Landingpage */

.carousel-card {
  background-color: rgba(255, 255, 255, 0.678);
}
.carousel-font {
  font-weight: bold;
}
.carousel-onlytxt{
  font-size: xx-large;
  font-style: italic;
  border-radius:100%;
  width: 10rem;
  height: 10rem;
  margin:auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}

/* Searchpage */

.carouselimg {
  margin: auto;
  max-height: 225px;
  max-width: 400px;
  object-fit: fill;
}
